{% extends "layout.html" %}

{% block title %}
    Top results
{% endblock %}

{% block main %}
    <form action="/tops" method="post">
        <div class="mb-3">
            <label for="tops">Choose how many you want:</label>

            <select name="tops" id="tops">
                <option value="6">6</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="all">All</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Make list</button>
    </form>
    <table class="table table-striped">
        <thead>
            <th>Number</th>
            <th>Count</th>
        </thead>

        {% for item in result %}
            <tr>
                <td>{{ item.number }}</td>
                <td>{{ item.count }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
