{% extends "layout.html" %}

{% block title %}
    Edit account
{% endblock %}

{% block main %}
    <form action="/account" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new_username" name="new_username" placeholder="{{ username }}" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Edit</button>
    </form>
{% endblock %}
