{% extends "layout.html" %}

{% block title %}
    Resultados
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Concurso</th>
                <th>Numbers</th>
            </tr>
        </thead>
        <tbody>
            {%  for row in concursos %}
                <tr>
                    <td>{{ row.concurso }}</td>
                    <td>{{ row.n1 }} - {{ row.n2 }} - {{ row.n3 }} - {{ row.n4 }} - {{ row.n5 }} - {{ row.n6 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
